.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 92px;
    padding-bottom: 96px;
}

.header__logo-link {
    display: block;
    width: 148px;
}

.header__menu-list {
    display: flex;
    gap: 32px;
}

.header__menu-item {
    list-style: circle;
    font-size: 18px;
}

.header__menu-item-no-bullet {
    list-style: none;
}

.header__menu-item-link-active {
    text-decoration: none;
}

.header-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
}

.address__tel,
.address__mail {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 60%;
    width: 1100px;
    min-height: 757px;
    z-index: -1;
}

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    width: 1100px;
    min-height: 757px;
}

.cover__title {
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.text-left {
    position: absolute;
    padding-top: 165px;
    padding-left: 50px;
}

.text-center {
    position: absolute;
    padding-top: 300px;
    padding-left: 380px;
}

.text-right {
    position: absolute;
    padding-top: 435px;
    padding-left: 663px;
}

.cover__description-text {
    display: inline-block;
    word-spacing: 19px;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    padding-left: 50px;
    padding-top: 668px;
    width: 700px;
}

.cover__description-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    padding: 12px 32px;
    margin-left: 90px;
    display: inline-block;
    margin-top: 0;
}

.lots__list-item-first {
    background-image: url("../images/card-lot-01.jpg");
}

.lots__list-item-second {
    background-image: url("../images/card-lot-02.jpg");
}

.lots__list-item-third {
    background-image: url("../images/card-lot-03.jpg");
}

