.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 92px;
    padding-bottom: 96px;
}

.header__logo-link {
    display: block;
    width: 148px;
}

.header__menu-list {
    display: flex;
    gap: 32px;
}

.header__menu-item {
    list-style: circle;
    font-size: 18px;
}

.header__menu-item-no-bullet {
    list-style: none;
}

.header__menu-item-link-active {
    text-decoration: none;
}

.header-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
}

.address__tel,
.address__mail {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 60%;
    width: inherit;
    min-height: inherit;
    z-index: 0;
}

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    width: 1100px;
    min-height: 757px;
    margin-bottom: 180px;
}

.cover__title {
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.text-left {
    position: absolute;
    padding-top: 165px;
    padding-left: 50px;
}

.text-center {
    position: absolute;
    padding-top: 300px;
    padding-left: 380px;
}

.text-right {
    position: absolute;
    padding-top: 435px;
    padding-left: 663px;
}

.cover__description-text {
    position: absolute;
    display: inline-block;
    word-spacing: 19px;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    padding-left: 50px;
    padding-top: 668px;
    width: 700px;
    z-index: 10;
}

.cover__description-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    padding: 12px 32px;
    margin-top: 656px;
    margin-left: 794px;
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.lots {
    width: 1052px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 120px;
}

.lots__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__list {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.lots__list-item {
    position: relative;
    width: 334px;
    min-height: 596px;
    background-size: cover;
    background-position: center;
}

.lots__list-item-first {
    background-image: url("../images/card-lot-01.jpg");
}

.lots__list-item-second {
    background-image: url("../images/card-lot-02.jpg");
}

.lots__list-item-third {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__list-item-link {
    position: absolute;
    z-index: 2;
    height: 100%;
    text-decoration: none;
}

.lots__list-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
}

.lots__list-item-text-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2em;
    color: #fff;
    text-decoration: underline;
}

.lots__list-item-text-content {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
}

.lots__link-more {
    text-decoration: none;
    border-bottom: 1px solid #000;
    margin-left: 40px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 24px;
    width: 1050px;
    margin-left: 24px;
    min-height: 595px;
    margin-bottom: 180px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__column-title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 136px;
    margin-bottom: 100px;
}

.about__column-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 180px;
}

.footer__address {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 18px;
    align-items: center;
}

.footer__menu-item-link {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.footer__menu-item-link-active {
    border-bottom: 0px;
}

.footer__socials-list {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: end;
    margin-right: 50px;
}
